.Main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image img {
  width: 400px;
}

.product-info {
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.product-info h1 {
  color: var(--red-color);
  margin-bottom: 40px;
  letter-spacing: 4px;
  font-weight: 600;
  font-size: 2.7rem;
}

.product-info p.name {
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 12px;
}

.product-info .avaliation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin-bottom: 12px;
}

.product-info .avaliation .star-icons img {
  margin-right: 15px;
  width: 17px;
}

.product-info .avaliation p {
  color: var(--red-color);
  font-weight: 600;
  font-size: 1.5rem;
}

.product-info .description {
  margin-bottom: 20px;
}

.product-info .description p {
  font-size: 1.5rem;
}

.product-info .description p span {
  font-size: 1.3rem;
  color: var(--gray-color);
}

.product-info .price-and-buy {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.product-info .price-and-buy h2 {
  font-size: 2.4rem;
}

.product-info .price-and-buy button {
  border: none;
  background-color: var(--red-color);
  padding: 10px 30px 10px 30px;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
}

.product-info .price-and-buy button:hover {
  background-color: var(--gray-color);
}
