.AsideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bar {
  background-color: var(--gray-color);
  width: 4px;
  height: 60px;
  border-radius: 10px;
}

.points {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 40px;
  height: 100px;
  justify-content: space-between;
}

div .point {
  background-color: var(--gray-color);
  width: 7px;
  height: 7px;
  border-radius: 10px;
}

div .point.select {
  background-color: var(--red-color);
  width: 9px;
  height: 9px;
}
